/*
title: checkersStyle.css
author: Joshua S. Andrews
purpose: Stores the css for a checkers webpage
*/


body {
	background-color: red;
	color: black;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#headings {
	position: fixed;
	top: 0;
	height: 125pt;
	background-color: blue;
	width: 100%;
	text-align: center;
}

#gameSpace {
	position: fixed;
	top: 166.667px;
	height: 100%;
	width: 100%;
	margin: 10px;
	padding: 10px;
	background-color: green;
}

#board {
	position: absolute;
	top: calc(50%-40vmin);
	left: calc(50%-40vmin);
	width: 80vmin;
	height: 80vmin;
	background-color: Red;
	overflow: hidden;
}
.tile {
	width: 10vmin;
	height: 10vmin;
	position: absolute;
	background-color: Black;
}
.player1pieces .piece {
	position: absolute;
	width: 8vmin;
	height: 8vmin;
	background-color: #e4a6ae;
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 6vmin;
	display: inline-block;
	box-sizing: border-box;
	transition: all 0.2s linear;
	margin-top: 1vmin;
	margin-left: 1vmin;
	cursor: pointer;
	border: 1vmin solid #B93848;
}
.player1pieces .piece.selected {
	box-shadow: 0 0 10px 5px #16A8C7;
}
.player2pieces .piece {
	position: absolute;
	width: 8vmin;
	height: 8vmin;
	background-color: #F1F1FF;
	background-size: 65%;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 6vmin;
	display: inline-block;
	box-sizing: border-box;
	transition: all 0.2s linear;
	margin-top: 1vmin;
	margin-left: 1vmin;
	cursor: pointer;
	border: 1vmin solid #8b8bff;
}
.player2pieces .piece.selected {
	box-shadow: 0 0 10px 5px #16A8C7;
}