/*
Group Members:
Milo Osterman
Keala Goodell
Joshua Andrews
Ayden DaCosta

Course: CSC337

File: homepage.css

Purpose: CSS for homepage
*/
* {
    color: #7f7;
    font-family: 'Press Start 2p', sans-serif;
}

body {
    background-image: url(IMG/main-back.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 2% 5% 5% 10%;
    text-align: center;
}

a:hover {
    opacity: 50%;
}

button {
    margin-top: 1em;
    background-color: lightgrey;
}

button:hover {
    opacity: 50%;
}

#GameLogo {
    width: 50%;
    height: auto;
}

#games-parent img {
    width: 100%;
    max-height: 100%;
    margin-bottom: 1em;
}

#games-parent {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    justify-content: space-evenly;
}

#background{
    position: fixed;
    background-color: darkviolet;
    color: mediumpurple;
    margin-left: -2vh;
    z-index: 0;
    width: 20vh;
    height: 101vh;
    margin-top: -2vh;
}
#background2{
    position: fixed;
    background-color: darkviolet;
    color: white;
    margin-left: 187vh;
    z-index: 0;
    width: 20vh;
    height: 101vh;
    margin-top: -2vh;
}
#titleBackground{
    position: fixed;
    
    width: 188vh;
    height: 101vh;
    z-index: -1;
    background-color: blueviolet;
}
#mostClickedGameInfo{
    position: fixed;
    margin-top: 30vh;
    margin-left: 28vh;
}

#MostClicked{
    position: fixed;
    margin-left: 30vh;
    margin-top: 24vh;
#rankings{
    margin-bottom: 5em;
}