/*
Ayden DaCosta
This is the CSS document thats acts as the design for the sign into the GamePage
*/

h1{
    position: fixed;
    font-size: 41px;
    margin-left: -8px;
    margin-top: -9px;
    padding-right: 24.7%;
    background-color: limegreen;
    padding-left: 448px;
    padding-top: 57px;
    padding-bottom: 75vh;
    border-style: solid;
    border-width: 18px;
    text-align: center;
}




#login-username{
    position: fixed;
    font-size: 19px;
    margin-top: 33vh;
    margin-left: 77vh;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}



#login-password{
    position: fixed;
    font-size: 19px;
    margin-top: 42.5vh;
    margin-left: 77vh;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}


#login-error-message{
    position: fixed;
    font-size: 13px;
    margin-top: 26vh;
    margin-left: 437px;
}

#login-button{
    position: fixed;
    font-size: 22px;
    margin-top: 50.5vh;
    margin-left: 107vh;
}

#createheader{
    position: fixed;
    font-size: 26px;
    margin-top: 55vh;
    margin-left: 63vh;
}


#register-username{
    position: fixed;
    font-size: 17px;
    margin-top: 61vh;
    margin-left: 78vh;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#register-password{
    position: fixed;
    font-size: 17px;
    margin-top: 70.5vh;
    margin-left: 78vh;
    margin-right: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}

#loginheader{
    position: fixed;
    font-size: 30px;
    margin-top: 23.5vh;
    margin-left: 63vh;
}

#submit-button{
    position: fixed;
    font-size: 3vh;
    margin-top: 82vh;
    margin-left: 82vh;
}

#register-error-message{
    position: fixed;
    margin-left: 304px;
    margin-top: 68vh;
    color: red;

}

#logoImage{
    z-index: 1;
    position: fixed;
    margin-top: 30vh;
    height: 23vh;
    margin-left: 20ch;
    border-style: solid;
    border-color: gray;
    border-width: 9px;
}

#icon{
    z-index: 1;
    position: fixed;
    margin-top: 30vh;
    margin-left: 135vh;
    border-color: green;
    border-style: solid;
    border-width: 20px;
}
#requirements{
    margin-left: 69vh;
    position: fixed;
    color: black;
    margin-top: 75vh;
    font-size: 15px;
}