/*
Group Members:
Milo Osterman
Keala Goodell
Joshua Andrews
Ayden DaCosta

Course: CSC337

File: register.css

Purpose: CSS for registration page
*/
* {
    font-family: 'Press Start 2p', serif;
    color: #7f7;
}

button {
    margin-top: 1em;
    background-color: lightgrey;
}

button:hover {
    border: 1px #7f7 solid;
}

input {
    background-color: darkslategrey;
}

#login-error-message, #register-error-message {
    color: red;
}

body {
    background-image: url(IMG/arcade-screen.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 10%;
}

h1 {
    margin-bottom: 0;
}

#requirements{
    font-size: 12px;
}

#GameLogo {
    width: 75%;
    padding-top: 1em;
}

#parent-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#intro {
    text-align: center;
    max-width: 50%;
    align-items: center;
}


#auth-container {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
