/*
Ayden DaCosta
This is the CSS document thats acts as the design for the sign into the GamePage
*/

* {
    font-family: 'Press Start 2p', serif;
    color: #7f7;
}
body {
    background-image: url(IMG/arcade-screen.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding: 10%;
}

h1 {
    margin-bottom: 0;
}

#GameLogo {
    flex: 1;
}

#parent-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro {
    text-align: center;
    max-width: 50%;
    align-items: center;
}


#auth-container {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#login-username{
}



#login-password{
}


#login-error-message{
}

#login-button{
}

#createheader{
}


#register-username{
}

#register-password{

}

#loginheader{
}

#submit-button{
}

#register-error-message{

}

#logoImage{
}

#icon{
}
#requirements{
}