/*
Keala Goodell
This is the CSS for Snake
*/
#snake-logo {
    width: 50%;
    height: auto;

}

body {
    background-image: url(../../IMG/snake-back.jpeg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    text-align: center;
}

.gameboard {
    position: fixed;
    right: 40%;
}