/*
Group Members:
Milo Osterman
Keala Goodell
Joshua Andrews
Ayden DaCosta

Course: CSC337

File: tictacstyle.css

Purpose: CSS for tic-tac-toe
*/

* {
  font-family: 'Press Start 2p', sans-serif;
}
.GameBoard {
  width: 100%;
  padding: 1em;
  width: fit-content;
  margin: auto;
}

html {
  background-image: URL("images/TicTacToeTempBack.jpg");
  color: aliceblue;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3em;
}

button {
  width: fit-content;
  height: fit-content;
}

table {
  top: 50%;
  color: antiquewhite;
  margin: auto;
  width: 300px;
  height: 300px;
  border-collapse: collapse;
  border: none;
}

td {
  width: 100px;
  height: 100px;
  border: 10px solid antiquewhite;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

td:first-child {
  border-left: none;
}

tr:first-child td {
  border-top: none;
}

td:last-child {
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}

#Replay {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}